body {
  font-family: "Finger Paint", cursive;
}

.container {
  border: 1px solid #3e8fcf;
  border-radius: 30px;
  padding: 20px;
  margin-top: 30px;
  width: 600px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
}

.video-clouds {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

li {
  list-style: none;
}

form {
  margin: 10px 25px 35px;
}

.row {
  justify-content: space-around;
}

.col-8,
.col-3 {
  padding: 0;
}

.mainCity {
  text-align: center;
}

.city-name {
  font-size: 65px;
  margin-bottom: 22px;
}

.timeDay {
  line-height: 18px;
  padding: 0;
}

.weatherDescription {
  text-align: left;
  line-height: 32px;
  padding-left: 65px;
}

.col-currentTemp {
  text-align: center;
}

.currentTemp {
  font-size: 55px;
  margin: 0;
  text-align: center;
}

.currentTemp .units {
  position: relative;
  top: -20px;
  font-size: 20px;
}

.units-feels {  
  position: relative;
  top: -2px;
  font-size: 10px;
}

.description {
  margin: 0;
}

.tempDay {
  font-size: 18px;
  text-align: center;
  padding: 0;
}

input {
  border: 1px solid #3e8fcf;
  border-radius: 20px;
  padding-left: 10px;
}

.weatherWeek {
  text-align: center;
  margin-top: 35px;
}

.col_nextWeather {
  padding: 10px 0;
  border-radius: 20px;
  width: 85px;
}

.dayOfWeek {
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 7px;
}

.btn {
  color: white;
  border: 1px solid #3e8fcf;
  width: 130px;
  height: 38px;
}

.btn:hover {
  box-shadow: 1px 1px 18px #3e8fcf;
}

.icon {
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 25px;
}

.max {
  padding: 8px 0;
  font-size: 17px;
  font-weight: bold;
}

.min {
  font-weight: lighter;
  opacity: 0.6;
}

.container-site {
  border: none;
  font-size: 10px;
  padding: 10px;
  padding-left: 35px;
  margin-top: 0;
  width: 600px;
  background: none;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  font-size: 11px;
}
